.my-mixed_case {
  text-transform: none;
}
.auto_height {
  height: auto;
}
.left_align {
  text-align: left;
}
.normal_height {
  line-height: normal;
}
.my-overflow-auto {
  overflow: auto;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
  background-color: unset;
}
.mdl-layout__drawer {
  padding-right: 8px;
}
.mdl-menu__item--full-bleed-divider--top {
  border-top: 1px solid rgba(0,0,0,0.12);
}

.mdl-layout__header-row .mdl-layout-title {
  width: calc(100% - 88px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}